.searchBar-container-faculty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
}
.searchBar-icon-faculty {
  height: 24px;
  width: 24px;
  position: relative;
  left: 38px;
}
.searchBar-faculty {
  padding-left: 3rem;
  width: 850px;
  height: 49px;
  border: 1.5px solid #d2c1a5;
  border-radius: 10px;
}
